
.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat (5, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
        "t t t"
        "c c c"
        "c c c"
        "c c c"
        "s s s"
}

.wrapper div div div img {
    width: 30px;
    height: 30px;
}

#mic {
    width: 30px;
    height: 30px;
}

main {
    grid-area: c;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 500px;
}

.top-nav {
    grid-area: t;
    display: flex;
}

.left-nav {
    margin-right: auto;
    display:flex;
}

.right-nav {
    margin-left: auto;
    display: flex;
}

.sub-nav {
    grid-area: s;
    display: flex;
}

.sub-left {
    margin-right: auto;
}
    

.sub-right {
    margin-left: auto;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.search {
    width: 584px;
    height: 44px;
    margin-bottom: 20px;
}