
.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat (5, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
        "l . r"
        "c c c"
        "c c c"
        "c c c"
        "a . b"
}

.wrapper div div img {
    width: 30px;
    height: 30px;
}

main {
    grid-area: c;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 550px;
}

.left-nav {
    grid-area: l;
}

.right-nav {
    grid-area: r;
    margin-left: auto;
    display: flex;
}

.sub-left {
    grid-area: a;
}

.sub-right {
    grid-area: b;
    margin-left: auto;
}