
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat (5, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
        "h h h"
        "c c c"
        "c c c"
        "c c c"
        "f f f"
}

.container header nav ul li img {
    width: 30px;
    height: 30px;
}

main {
    grid-area: c;
    justify-content: center;
    align-content: center;
}

header {
    grid-area: h; 
    justify-content: space-between;
    align-content: start;
    display: inline;
}

footer {
    grid-area: f;
    justify-content: space-between;
    align-content: end;
    display: inline;
}